# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Logger configuration for debugging
logger:
  default: info
  logs:
    custom_components.denkovi_smartden: debug
